body {
    font-family: "Inter", arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}

/* NAVIGATION */
.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #f7dca2;
    cursor: pointer;
    z-index: 10;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.hamburger.active {
    color: #ffffff;
}


.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(216, 106, 53, 0.8);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
        list-style: none;
        padding-right: 50px;
        margin: 0;
        text-align: right;
    }
    
    ul li {
        margin: 20px 0;
    }
    
    ul li a {
        text-decoration: none;
        color: white;
        font-size: calc(1rem + 5vw);
        transition: color 0.3s;
    }
}

.menu.open {
    transform: translateX(0);
}

.menu ul li a:hover {
    color: #ff5500;
}


/* HERO-SECTION */
.hero {
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .text-container {
        position: absolute;
        top: 40%;
        color: white;

        h1 {
            font-size: calc(1rem + 7vw);
            margin: 0 0 10px;
            padding-left: 20px;
        }
    
        p {
            padding-left: 20px;
            font-size: calc(1rem + 0.3vw);
            margin: 0 0 20px;
        }
    }

    .button-container {
        position: absolute;
        top: 80%; /* Zorgt ervoor dat de knoppen iets onder de tekst komen */
        padding-left: 20px;
    }

        button {
            font-size: 1em;
            background-color: #f7dda2;
            border: 1px solid #d14b08;
            color: #d14b08;
            border: none;
            height: 2.5em;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            width: 13em;
        }
    
        button:hover {
            background-color: #fff0d1;
            border: 1px solid #a23a06;
            color: #a23a06;
        }
}

/* SERVICES-SECTION */
.services-section {
    h2{
        padding-left: 20px;
    }

    .services-image-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding: 20px;

        @media (min-width: 1024px){
            flex-wrap: nowrap;
        }
    }

    button {
        border: none;
        border-radius: 20px;
        width: 40em;
        height: 15em; /* Zorgt voor een vaste hoogte van de knoppen */
        padding: 20px;
        text-align: center;
        background-size: cover; /* Zorgt ervoor dat de achtergrondafbeelding het hele knopgebied vult */
        background-position: center; /* Centraal positioneert de afbeelding in de knop */
        position: relative; /* Nodig om de tekst correct te positioneren */
        color: white;  /* Tekst zichtbaar maken op de afbeelding */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        h3 {
            margin: 0;
            font-size: 1.5rem;
            position: relative; /* Voor de tekst boven de achtergrondafbeelding */
            z-index: 2;
        }

        p {
            margin: 10px 0 0;
            font-size: 1rem;
            position: relative; /* Voor de tekst boven de achtergrondafbeelding */
            z-index: 2;
        }
    }

    button:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }

    button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3); 
        border-radius: 20px;
        z-index: 1; /* Plaats de overlay onder de tekst maar boven de achtergrond */
    }

    button:nth-child(1) {
        background-image: url("../images/lollywood-poster.png");
    }

    button:nth-child(2) {
        background-image: url("../images/lollywood-poster.png");
    }

    button:nth-child(3) {
        background-image: url("../images/lollywood-poster.png");
    }
}


/* USP-SECTION */

.usp-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;

    @media (min-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            h2 {
                grid-column: span 3; /* H2 blijft bovenaan en neemt alle kolommen in */
            }
        }

    .usp-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        border-radius: 20px;
        padding: 20px;

        img {
            width: 100%;
            height: auto;
            border-radius: 20px;
            align-self: center;
        }
    }
}

/* QUOTE-SECTION */
.quote-image-section{
    padding: 20px;

    .quote-container{
        display: flex;
        flex-direction: column;

        @media (min-width: 1024px){
            display: grid;
            grid-template-columns: 4fr 1fr;
        }

        img{
            width: 250px;
            height: auto;
            border-radius: 20px;

            @media (max-width: 768px){
                display: none;
            }
        }

        button {
            font-size: 1em;
            background-color: #d14b08;
            border: 1px solid #d14b08;
            color: #f7dda2;
            border: none;
            height: 2.5em;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            width: 13em;
        }
    
        button:hover {
            background-color: #f7dda2;
            border: 1px solid #d14b08;
            color: #d14b08;
        }
    }
}


/* PROJECTS-SECTION */
.projects-section {
    padding-bottom: 20px;

    h2{
        padding-left: 20px;
    }

    .projects-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding: 20px;

        @media (min-width: 1024px){
            flex-wrap: nowrap;
        }
    }

    .project-button {
        border: none;
        border-radius: 20px;
        width: 40em;
        height: 15em; /* Zorgt voor een vaste hoogte van de knoppen */
        padding: 20px;
        text-align: center;
        background-size: cover; /* Zorgt ervoor dat de achtergrondafbeelding het hele knopgebied vult */
        background-position: center; /* Centraal positioneert de afbeelding in de knop */
        position: relative; /* Nodig om de tekst correct te positioneren */
        color: white;  /* Tekst zichtbaar maken op de afbeelding */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        h3 {
            margin: 0;
            font-size: 1.5rem;
            position: relative; /* Voor de tekst boven de achtergrondafbeelding */
            z-index: 2;
        }

        p {
            margin: 10px 0 0;
            font-size: 1rem;
            position: relative; /* Voor de tekst boven de achtergrondafbeelding */
            z-index: 2;
        }
    }

    button:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }

    button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3); 
        border-radius: 20px;
        z-index: 1; /* Plaats de overlay onder de tekst maar boven de achtergrond */
    }

    button:nth-child(1) {
        background-image: url("../images/lollywood-poster.png");
    }

    button:nth-child(2) {
        background-image: url("../images/lollywood-poster.png");
    }

    button:nth-child(3) {
        background-image: url("../images/lollywood-poster.png");
    }
}

/* FOOTER */
footer{
    background-color: #d14b08;
    color: white;
    padding-left: 20px;
    padding-bottom: 1em;

    img{
        padding-top: 20px;
        width: 100px;

        @media (min-width: 1024px){
            width: 150px;
        }
    }

    ul{
        list-style: none;
        padding: 0;
    }

    a{
        color: white;
    }
    
    @media (min-width: 1024px){
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
        text-align: left;
        padding-bottom: 5em;
    }
}