body {
    font-family: montserrat, sans-serif;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

.petit-formal-script-regular {
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* NAVIGATION */
.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #a23a06;
    cursor: pointer;
    z-index: 10;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.hamburger.active {
    color: #ffffff;
}


.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(216, 106, 53, 0.8);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
        list-style: none;
        padding-right: 50px;
        margin: 0;
        text-align: right;
    }
    
    ul li {
        margin: 20px 0;
    }
    
    ul li a {
        text-decoration: none;
        color: white;
        font-size: calc(1rem + 5vw);
        transition: color 0.3s;
    }
}

.menu.open {
    transform: translateX(0);
}

.menu ul li a:hover {
    color: #a23a06;
}


/* HERO-SECTION */
.hero {
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

@media (max-width: 768px) {
    .hero {
        height: auto;

        img {
            position: static;
            height: auto;
            width: 100%;
        }
    }
}

/* SERVICES-SECTION */
.title {
    font-family: "Petit Formal Script", cursive;
    text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.services-section {
    text-align: center;

    h2{
        padding-left: 0px;
    }
.about-text {
    font-size: large;
    padding: 1em;
    margin-left: 3em;
    margin-right: 3em;
}
.about-text-2 {
    font-size: x-large;
    padding: 1em;
    margin-left: 3em;
    margin-right: 3em;
    font-weight: bold;
    color: #a23a06;
}
    .ticket-button {
            font-family: montserrat, sans-serif;
            background-color: #d14b08;
            border: 1px solid #d14b08;
            box-shadow: 0 4px #a23a06;
            color: #fff0d1;
            border: none;
            height: 2em;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.4s ease;
            width: 13em;
            display: inline-block;
            font-weight: bold;
            text-decoration: none;
            padding-top: 1rem;
        }

        .ticket-button:hover {
            transform: scale(1.01);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            background-color: #fff0d1;
            border: 1px solid #a23a06;
            color: #a23a06;
            box-shadow: 0 4px #a23a06;
        }
}

/* CALL-TO-ACTION-SECTION */
.call-to-action-section {
    font-family: "Petit Formal Script", cursive;
    text-align: center;
    font-size: x-large;
    background-color: #f7dda2;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.important-info-section{
    font-family: montserrat, sans-serif;
    font-size: large;
    padding-top: 1rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-left: 2rem;
    padding-right: 2rem;

    .info-text {
        flex: 1;
        text-align: left;
    }

    .services-image-container {
        flex: 0 0 auto;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;

      
    }
}
/* USP GOEDE DOELEN-SECTION */

.usp-section {
    background-color: #f7dda2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;

    @media (min-width: 701px) {
            display: flex;
            flex-direction: row;
        }

    .usp-container {

        border-radius: 20px;
        padding: 20px;
        flex: 1;

        img {
            width: 100%;
            height: auto;
            border-radius: 20px;
            align-self: center;
        }

        .usp-text-container {
            padding-left: 20px;
            margin: 0%;
        }
    }
}

/* PROJECTS-SECTION */
.projects-section {
    background-color: #f7dda2;
    padding-bottom: 20px;
    padding-top: 3rem;

    h2{
        padding-left: 20px;
    }

    .projects-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding: 20px;

        @media (min-width: 1024px){
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
.sponsors{
padding:2rem;

 @media (min-width: 700px){
    height: 6rem;
}
}
}

/* FOOTER */
footer{
    background-color: #d14b08;
    color: white;
    padding-left: 20px;
    padding-bottom: 1em;

    img{
        padding-top: 20px;
        width: 100px;

        @media (min-width: 1024px){
            width: 150px;
        }
    }

    ul{
        list-style: none;
        padding: 0;
    }

    a{
        color: white;
    }
    
    @media (min-width: 1024px){
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
        text-align: left;
        padding-bottom: 3em;
    }
}