body {
    font-family: comfortaa, sans-serif;
    margin: 0 auto;
    padding: 0;
}


.comfortaa-400 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.petit-formal-script-regular {
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}


/* NAVIGATION */
.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #f7dca2;
    cursor: pointer;
    z-index: 10;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.hamburger.active {
    color: #ffffff;
}


.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(216, 106, 53, 0.8);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
        list-style: none;
        padding-right: 50px;
        margin: 0;
        text-align: right;
    }
    
    ul li {
        margin: 20px 0;
    }
    
    ul li a {
        text-decoration: none;
        color: white;
        font-size: calc(1rem + 5vw);
        transition: color 0.3s;
    }
}

.menu.open {
    transform: translateX(0);
}

.menu ul li a:hover {
    color: #ff5500;
}


/* HERO-SECTION */
.hero {
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

/* SERVICES-SECTION */
.services-section {
    text-align: center;

    h2{
        padding-left: 20px;
    }

    .ticket-button {
            font-family: comfortaa, sans-serif;
            background-color: #d14b08;
            border: 1px solid #d14b08;
            box-shadow: 0 4px #a23a06;
            color: #fff0d1;
            border: none;
            height: 2.5em;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.4s ease;
            width: 13em;
            display: inline-block;
            font-weight: bold;
            text-decoration: none;
        }

        .ticket-button:hover {
            transform: scale(1.01);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            background-color: #fff0d1;
            border: 1px solid #a23a06;
            color: #a23a06;
            box-shadow: 0 4px #a23a06;
        }
}

/* CALL-TO-ACTION-SECTION */
.call-to-action-section {
    font-family: "Petit Formal Script", cursive;
    text-align: center;
    font-size: x-large;
    background-color: #f7dda2;
    padding-top: 1rem;
    padding-bottom: 3rem;
}


/* USP GOEDE DOELEN-SECTION */

.usp-section {
    background-color: #f7dda2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;

    @media (min-width: 701px) {
            display: flex;
            flex-direction: row;
        }

    .usp-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        border-radius: 20px;
        padding: 20px;

        img {
            width: 100%;
            height: auto;
            border-radius: 20px;
            align-self: center;
        }
    }
}

/* PROJECTS-SECTION */
.projects-section {
    background-color: #f7dda2;
    padding-bottom: 20px;
    padding-top: 3rem;

    h2{
        padding-left: 20px;
    }

    .projects-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding: 20px;

        @media (min-width: 1024px){
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .project-button {
        border: none;
        border-radius: 20px;
        width: 40em;
        height: 15em; /* Zorgt voor een vaste hoogte van de knoppen */
        padding: 20px;
        text-align: center;
        background-size: cover; /* Zorgt ervoor dat de achtergrondafbeelding het hele knopgebied vult */
        background-position: center; /* Centraal positioneert de afbeelding in de knop */
        position: relative; /* Nodig om de tekst correct te positioneren */
        color: white;  /* Tekst zichtbaar maken op de afbeelding */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        h3 {
            margin: 0;
            font-size: 1.5rem;
            position: relative; /* Voor de tekst boven de achtergrondafbeelding */
            z-index: 2;
        }

        p {
            margin: 10px 0 0;
            font-size: 1rem;
            position: relative; /* Voor de tekst boven de achtergrondafbeelding */
            z-index: 2;
        }
    }

    button:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }

    button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3); 
        border-radius: 20px;
        z-index: 1; /* Plaats de overlay onder de tekst maar boven de achtergrond */
    }

    button:nth-child(1) {
        background-image: url("../images/Cardea.png");
    }

    button:nth-child(2) {
        background-image: url("../images/Leiden-Sportzomer.png");
    }
}

/* FOOTER */
footer{
    background-color: #d14b08;
    color: white;
    padding-left: 20px;
    padding-bottom: 1em;

    img{
        padding-top: 20px;
        width: 100px;

        @media (min-width: 1024px){
            width: 150px;
        }
    }

    ul{
        list-style: none;
        padding: 0;
    }

    a{
        color: white;
    }
    
    @media (min-width: 1024px){
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
        text-align: left;
        padding-bottom: 5em;
    }
}